@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}

/****HEADER****/
.logo {
    max-width: 6rem;
}

.plant_principal {
    max-width: 20rem;
}

.header {
    background-color: rgb(180, 177, 216);
    padding: .5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.menu-link {
    text-decoration: none;
    color: black;
}


/*****HERO****/

.hero {
    height: 100vh;
    background-image: url(../img/houseofplants.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.hero-content {
    width: 60%;
    background-color: rgba(180, 177, 216, 0.26);
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: .5rem;
}


.hero-title {
    font-size: 3rem;
}

.productos-1 {
    align-items: center;
}

/*******IMAGEN PRINCIPAL*******/

.imagen-gracias{
    max-width: 50rem;
    float: left;
    left: 0;
    top: 0;
   
}

.armonia-div {
    flex-direction: column-reverse;
    background-color: whitesmoke;
    padding-left: 50%;
    display: flex;
    gap: 3rem;
    width: 100%;
    position: relative;
   margin-right: 0rem;
}

.parrafo-armonia {
    font-size: 2rem;
    vertical-align: top;
    display: inline-block;
    float: right;
}

/*******TARJETAS INDEX*******/

.btn {
    background-color: rgb(200, 176, 223);
}




 







.tarjeta-boton {
    background-color: rgb(200, 176, 223);
    border: 0;
    padding: .25rem .5rem;
    display: block;
    text-align: center;
    border-radius: 8px;
}



/*******FOOTER*******/

.footer {
    background-color:rgb(180, 177, 216);
            color: white;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            bottom: 0;
            width: 100%;
}

.footer-content {
    background-color: rgb(180, 177, 216);
    padding-bottom: .5rem 3rem;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}
.content-h {
    text-decoration-color: black;
    align-items: center;
    text-align: center;
}

.content-p {
    text-align: justify-all;
    float: none;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
    

.column-content {
    align-items: center;
    padding: 0%;
    list-style-type: none;
}

.icono-ig {
   font-size: 44px;
   color: black;

}


/**formulario**/

 .formulario {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
 }



    .titulo-formulario {
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
/**responsive**/



 
 
